.search-panel {
  width: 70%;
  margin: 0 auto;
}

.search-input {
  border: none;
  outline: #ffffff33 1px solid;
  width: 50%;
  height: 28px;
  margin-right: 10px;
  padding-left: 5px;
  border-radius: 3px;
  box-shadow: 0 0 6px #ffffff33;
}

.search-btn {
  width: 100px;
  height: 30px;
  box-shadow: 0 0 6px #ffffff33;
}

.search-btn:hover {
  cursor: pointer;
}
