.animeList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}

.animeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #777676;
  background-color: #393333b7;
  border-radius: 8px;
  box-shadow: 0 0 5px #ffffff33;
}

.animeImg {
  width: 100px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 0 10px 1px #aea9a580;
  transition: box-shadow 0.3s ease;
}

.animeImg:hover {
  box-shadow: 0 0 12px 4px #e3a2ee80;
}

.animeDescription {
  flex: 1;
}

.animeInfo {
  margin: 0;
  font-size: 16px;
}

.animeTitle {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 6px;
}

.itemDetails {
  width: 500px;
  display: flex;
  flex-direction: row;
  margin: 15px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
  background-color: #a0a0a0bf;
  box-shadow: 0 0 12px 4px #f2c5fac2;
  z-index: 200;
}

.detalsPage {
  display: flex;
  flex-direction: row;
}

.itemDetailsBtn {
  cursor: pointer;
}

.itemDetailsBtn:hover {
  cursor: pointer;
  box-shadow: 0 0 12px 4px #e3a2ee80;
}
