#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-wrapper {
  display: flex;
}

.app-heading {
  font-size: 32px;
}

.app-wrapper {
  position: relative;
}

.app-main.unactive:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 1;
}

.app-main:after {
  display: none;
}

.item-details {
  width: 500px;
  display: flex;
  flex-direction: row;
  margin: 15px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 10px;
  background-color: #a0a0a0bf;
  box-shadow: 0 0 12px 4px #f2c5fac2;
  z-index: 200;
}

.item-details-btn {
  cursor: pointer;
}

.item-details-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 12px 4px #e3a2ee80;
}
